@use "@fogo/component-library/theme";

.listHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: theme.spacing(4);
  margin-top: theme.spacing(8);
  
  .listHeaderTitle {
    @include theme.text('2xl', 'medium');
    color: theme.color('heading');
    display: flex;
    align-items: center;
    gap: theme.spacing(2);
  }
}
