@use "@fogo/component-library/theme";
.userAppsHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: theme.spacing(4);
  .userAppsTitle {
  @include theme.text("2xl", "medium");
  color: theme.color("heading");
    margin-bottom: theme.spacing(4);
  }
}

.userApps {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: theme.spacing(4);

  .appCard {
    height: 202px;
     display: flex;
      flex-direction: column;
      justify-content: space-between;
    .appCardContent {
     
      .appCardTitle {
        @include theme.text("2xl", "normal");
        margin-bottom: theme.spacing(4);
      }
      .appCardDescription {
        @include theme.text("sm", "normal");
        opacity: 0.6;
        margin-top: theme.spacing(2);
      }
    }
  }
}
