@use '@fogo/component-library/theme';

.userAppsHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: theme.spacing(4);
  .userAppsTitle {
    @include theme.text('2xl', 'medium');
    color: theme.color('heading');
    display: flex;
    align-items: center;
    gap: theme.spacing(2);
  }

  .userAppsTitleSkeleton {
    width: theme.spacing(35);
    height: theme.spacing(6);
    display: inline-block;
  }

  .addAppButtonSkeleton {
    width: theme.spacing(30);
    height: theme.spacing(6);
    display: inline-block;
  }
}

.userApps {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: theme.spacing(4);

  @include theme.breakpoint('md') {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .appCard {
    height: theme.spacing(50);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .appCardContent {
      .appCardTitle {
        @include theme.text('2xl', 'normal');
        margin-bottom: theme.spacing(4);
      }
      .appCardDescription {
        @include theme.text('sm', 'normal');
        opacity: 0.6;
        margin-top: theme.spacing(2);
      }
    }
  }
}
