[workspace]
members = ["programs/*", "packages/sessions-sdk-rs", "packages/solana-intents", "services/*"]
resolver = "2"

[workspace.package]
edition = "2021"
license = "Apache-2.0"

[profile.release]
overflow-checks = true
lto = "fat"
codegen-units = 1
[profile.release.build-override]
opt-level = 3
incremental = false
codegen-units = 1

[workspace.dependencies]
anchor-lang = "0.31.1"
anchor-spl = "0.31.1"
borsh = "1.5.7"
mpl-token-metadata = "5.1.0"
nom = "8.0.0"
solana-client = "2.2.1"
solana-commitment-config = "2.2.1"
solana-derivation-path = "2.2.1"
solana-keypair = "2.2.1"
solana-packet = "2.2.1"
solana-program = "2.2.1"
solana-pubkey = "2.2.1"
solana-seed-derivable = "2.2.1"
solana-seed-phrase = "2.2.1"
solana-signer = "2.2.1"
solana-transaction = "2.2.1"
