@use "@fogo/component-library/theme";

.nav {
  border-bottom: 1px solid theme.color("border");
  background: theme.color("card");

  .navContent {
    @include theme.max-width;
    
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap: theme.spacing(4);
    height: theme.spacing(14.5);
  }
}
