@use '@fogo/component-library/theme';

.root {
  width: 100%;
  height: 100%;
  min-height: fit-content;
  display: flex;
  flex-direction: column;
  background-color: theme.color('background');
}

.main {
  flex: 1;
  min-height: fit-content;
  background-color: theme.color('background');
}
