@use '@fogo/component-library/theme';

.domainSettings {
    margin-top: theme.spacing(6);
    margin-bottom: theme.spacing(8);

  .domainSettingsCheckboxes {
    display: flex;
    flex-direction: column;
    gap: theme.spacing(4);
  }

  .domainSettingsSkeleton {
    display: block;
    margin-bottom: theme.spacing(8);
  }
}
