@use "@fogo/component-library/theme";

.root {
  width: 100%;
  height: 100%;
  min-height: fit-content;
  background-color: theme.color("background");
  color: theme.color("foreground");
  display: flex;
  flex-direction: column;
}

.main {
  height: 100%;
  min-height: fit-content;
  padding-bottom: theme.spacing(8);
}
