@use "@fogo/component-library/theme";

.root {
  width: 100%;
  height: 100%;
  background-color: theme.color("background");
  color: theme.color("foreground");
  display: flex;
  flex-direction: column;
}

.main {
  height: 100%;
  padding: 0 0 theme.spacing(8);
}
