@use '@fogo/component-library/theme';

.variationListItem {
  margin-top: theme.spacing(2);
}

.variationListItemContent {
  margin-top: theme.spacing(2);
  display: flex;
  gap: theme.spacing(2);

  .variationListCard {
    background-color: theme.color('card-muted');
    border-radius: theme.border-radius('lg');
    padding: 0 theme.spacing(3);
    flex: 1;
    display: flex;
    align-items: center;
    gap: theme.spacing(3);
    height: theme.spacing(12);
    transition: border-radius 0.3s ease-in-out;
    cursor: pointer;

    & * {
      pointer-events: none;
    }

    &[data-is-expanded] {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      border-top-left-radius: theme.border-radius('lg');
      border-top-right-radius: theme.border-radius('lg');
    }
    &[data-is-editable] {
      cursor: auto;
      & * {
        pointer-events: auto;
      }
    }
  }
}

.variationListItemSkeleton {
  margin-top: theme.spacing(2);
}

.fieldVariationName {
  flex: 1;
}

.fieldVariationInput {
  width: theme.spacing(22);

  @include theme.breakpoint('sm') {
    width: theme.spacing(34);
  }
}

.variationFormEditorContainer {
  background-color: theme.color('card-muted');
  overflow: hidden;
  width: 100%;
  margin-left: 0;
  border-radius: theme.border-radius('lg');
  transform-origin: top;
  display: flex;
  flex-direction: column;
  @include theme.elevation('primary', 3);

  @include theme.breakpoint('lg') {
    width: 110%;
    margin-left: -5%;
  }
}

.variationFormEditorTester {
  padding: theme.spacing(3);
  border-top: 1px solid theme.color('border');
  border-bottom: 1px solid theme.color('border');
}

.variationFormEditorFooter {
  padding: theme.spacing(2) theme.spacing(3);
  border-top: 1px solid theme.color('border');
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: theme.spacing(2);
}

.variationFormFooterActions {
  display: flex;
  gap: theme.spacing(2);
  align-items: center;
}

.variationFormFooterError {
  @include theme.text('sm', 'normal');
  color: theme.color('states', 'error', 'foreground');
  
  .variationFormFooterErrorCode {
    white-space: pre-wrap;
    overflow-wrap: anywhere;
  }
}
