@use '@fogo/component-library/theme';

.variationCodeBlock {
  background-color: #303038;
  overflow: hidden;
  width: 110%;
  margin-left: -5%;
  border-radius: theme.border-radius('lg');
  transform-origin: top;
  display: flex;
  flex-direction: column;
  @include theme.elevation('primary', 3);

  .variationCodeBlockHeader {
    padding: theme.spacing(2) theme.spacing(3);
    border-bottom: 1px solid theme.color('border');
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: theme.spacing(2);

    .variationCodeBlockHeaderTitle {
      @include theme.text('xs', 'normal');
      color: theme.color('muted');
    }
  }

  .variationCodeBlockContent {
    flex: 1;
  }
  
  .variationCodeBlockFooter {
    padding: theme.spacing(2) theme.spacing(3);
    border-top: 1px solid theme.color('border');
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: theme.spacing(2);
  }
}
