@use "sass:meta";
@use "./components/component-library/theme";

.reset {
  :where(&),
  :where(&)::before,
  :where(&)::after,
  :where(&) *:not(svg):not(svg *), // ignore svg elements and their children
  :where(&) *::before,
  :where(&) *::after {
    all: revert;
  }

  @include meta.load-css("pkg:modern-normalize");

  :where(&) {
    font-family: "Funnel Display", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color-scheme: dark;
    color: purple;
    text-align: left;

    *::selection {
      color: theme.pallette-color("black");
      background: theme.color("accent");
    }
  }
}
