@use "sass:meta";
@use "./components/component-library/theme";

// stylelint-disable-next-line import-notation
@import url("https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap");

@mixin reset {
  &,
  &::before,
  &::after,
  & * & *::before,
  & *::after {
    all: revert;
  }

  @include meta.load-css("pkg:modern-normalize");

  &#{&} {
    font-family: "Funnel Display", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color-scheme: dark;
    color: purple;
    text-align: left;

    *::selection {
      color: theme.pallette-color("black");
      background: theme.color("accent");
    }

    @content;
  }
}
