@use "./theme";

.sessionButton {
  @include theme.reset {
    width: theme.spacing(60);
    height: theme.spacing(10);

    @include theme.button("mainButton");

    .fogoWordmark {
      height: 1.4em;
    }

    .chevron {
      margin-left: theme.spacing(2);
      transition: transform 300ms;
      transform-origin: center;
    }

    &[data-session-panel-open] {
      .chevron {
        transform: rotateZ(180deg);
      }
    }
  }
}

.sessionPanelPopover {
  @include theme.reset {
    transition:
      transform 200ms,
      opacity 200ms;

    .overlayArrow {
      display: block;
      fill: theme.color("panel", "background");
      stroke: theme.color("panel", "border");
    }

    .sessionPanel {
      background: theme.color("panel", "background");
      border: 1px solid theme.color("panel", "border");
      border-radius: theme.border-radius("base");
      box-shadow: 0 8px 20px rgb(from black r g b / 10%);
      width: theme.spacing(100);
      height: theme.spacing(120);
      outline: none;
      color: theme.color("panel", "text");
      display: grid;
      grid-template-rows: max-content 1fr max-content;

      .heading {
        @include theme.text("base", "semibold");

        text-align: center;
        margin-top: theme.spacing(4);
        margin-bottom: theme.spacing(2);
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: baseline;
        gap: theme.spacing(4);

        .copyWalletAddressButton {
          @include theme.text("xs", "normal");
          @include theme.button("ghost");

          // stylelint-disable-next-line no-duplicate-selectors
          & {
            display: inline-flex;
            padding-left: theme.spacing(2);
            padding-right: theme.spacing(2);
            margin-left: -#{theme.spacing(2)};
            margin-right: -#{theme.spacing(2)};
            cursor: copy;
          }

          .iconContainer {
            position: relative;
            width: 1em;
            height: 1em;

            .copyIcon,
            .checkIcon {
              position: absolute;
              inset: 0;
              transition: opacity linear 100ms;
            }

            .checkIcon {
              color: theme.pallette-color("green", 700);
              opacity: 0;
              transition: opacity linear 100ms;
            }
          }

          &[data-disabled] {
            color: theme.color("ghost", "text", "base");
          }

          &[data-is-copied] {
            background: theme.pallette-color("blue", 100);

            .iconContainer {
              .checkIcon {
                opacity: 1;
              }

              .copyIcon {
                opacity: 0;
              }
            }
          }
        }
      }

      .tabs {
        display: grid;
        grid-template-rows: max-content 1fr;
        overflow: hidden;

        .tabList {
          display: flex;
          flex-flow: row nowrap;
          align-items: center;
          width: 100%;

          .tab {
            @include theme.text("sm", "medium");

            flex-grow: 1;
            text-align: center;
            padding-top: theme.spacing(1);
            padding-bottom: theme.spacing(1);
            border-bottom: 2px solid transparent;
            cursor: pointer;
            transition: background-color 50ms linear;
            outline: none;

            &[data-selected] {
              border-color: theme.color("mainButton", "border", "base");
              cursor: unset;

              &[data-hovered] {
                background-color: unset;
              }
            }

            &[data-focus-visible] {
              outline: 2px solid theme.color("primary", "border", "base");
              outline-offset: -2px;
            }

            &[data-hovered] {
              background-color: rgb(from black r g b / 3%);
            }
          }
        }
      }

      .tokensPanel,
      .limitsPanel {
        background: rgb(from black r g b / 5%);
        border-top: 1px solid theme.color("panel", "border");
        border-bottom: 1px solid theme.color("panel", "border");
        overflow: auto;
        outline: none;
        display: grid;
        scrollbar-width: thin;
      }

      .tokensPanel {
        grid-template-rows: max-content 1fr;

        .topButtons {
          display: flex;
          flex-flow: row nowrap;
          justify-content: center;
          gap: theme.spacing(8);
          margin-top: theme.spacing(2);

          .topButton {
            outline: none;
            border: none;
            background: transparent;
            cursor: pointer;
            text-align: center;
            text-decoration: none;
            transition: background-color 100ms linear;
            border-radius: theme.border-radius("lg");
            padding: theme.spacing(3) theme.spacing(6);
            display: grid;
            grid-template-columns: min-content;
            grid-template-rows: repeat(2, max-content);
            gap: theme.spacing(1);

            &[data-hovered] {
              background-color: rgb(from black r g b / 5%);
            }

            &[data-pressed] {
              background-color: rgb(from black r g b / 10%);
            }

            &[data-focus-visible] {
              outline: 2px solid theme.color("primary", "border", "base");
            }

            .icon {
              background: theme.color("primary", "background", "base");
              border-radius: theme.border-radius("full");
              padding: theme.spacing(1.5);
              font-size: theme.spacing(12);
              color: theme.color("primary", "text", "base");
            }

            .text {
              @include theme.text("sm", "semibold");

              text-align: center;
              color: theme.color("panel", "text");
            }
          }
        }

        .tokenList {
          display: flex;
          flex-flow: column nowrap;
          gap: theme.spacing(2);
          padding: theme.spacing(2);
          padding-bottom: theme.spacing(4);
          margin: 0;

          .token {
            display: grid;
            grid-template-columns: max-content 1fr max-content;
            gap: theme.spacing(3);
            background: rgb(from black r g b / 5%);
            border-radius: theme.border-radius("lg");
            padding: theme.spacing(2) theme.spacing(3);
            align-items: center;

            .tokenIcon {
              width: theme.spacing(8);
              height: theme.spacing(8);
              border-radius: theme.border-radius("full");
              background: rgb(from black r g b / 5%);
            }

            .tokenName {
              @include theme.text("sm", "medium");

              overflow: hidden;
              text-overflow: ellipsis;
              padding-right: theme.spacing(8);
            }

            .amount {
              @include theme.text("xs", "semibold");
            }

            &[data-is-loading] {
              .tokenIcon,
              .tokenName,
              .amount {
                animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
              }

              .tokenName,
              .amount {
                background: rgb(from black r g b / 10%);
                height: 1em;
                border-radius: theme.border-radius("md");
              }

              .tokenName {
                width: theme.spacing(30);
              }

              .amount {
                width: theme.spacing(20);
              }

              @keyframes pulse {
                50% {
                  opacity: 0.5;
                }
              }
            }
          }
        }

        .tokenListEmpty {
          @include theme.text("lg", "bold");

          text-align: center;
          display: grid;
          place-content: center;
          height: 100%;
          gap: theme.spacing(10);
          color: rgb(from theme.color("panel", "text") r g b / 60%);

          a {
            @include theme.button("primary");
          }
        }
      }

      .limitsPanel {
        padding: theme.spacing(6) theme.spacing(4);
      }

      .footer {
        @include theme.text("sm", "normal");

        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        padding: theme.spacing(2) theme.spacing(4);

        .fogoWordmark {
          height: 1.4em;
          display: inline;
        }

        .logoutButton {
          border: none;
          background: transparent;
          cursor: pointer;
          padding: theme.spacing(1) theme.spacing(4);
          position: relative;
          margin-right: -#{theme.spacing(4)};
          color: theme.color("panel", "text");

          &[data-hovered] {
            text-decoration: underline;
          }

          &[data-focus-visible] {
            outline: 2px solid theme.color("primary", "border", "base");
          }
        }
      }
    }

    &[data-entering],
    &[data-exiting] {
      transform: var(--origin);
      opacity: 0;
    }

    &[data-placement="top"] {
      --origin: translateY(8px);

      margin-bottom: 6px;
    }

    &[data-placement="bottom"] {
      --origin: translateY(-8px);

      margin-top: 6px;

      .overlayArrow {
        transform: rotate(180deg);
      }
    }

    &[data-placement="right"] {
      --origin: translateX(-8px);

      margin-left: 6px;

      .overlayArrow {
        transform: rotate(90deg);
      }
    }

    &[data-placement="left"] {
      --origin: translateX(8px);

      margin-right: 6px;

      .overlayArrow {
        transform: rotate(-90deg);
      }
    }
  }
}
