@use "./theme";

.sessionLimits {
  display: grid;
  grid-template-rows: max-content max-content 1fr max-content;
  gap: theme.spacing(6);

  .applyLimits {
    @include theme.text("sm", "medium");

    display: flex;
    position: relative;
    align-items: center;
    gap: theme.spacing(2);
    cursor: pointer;

    .checkbox {
      width: theme.spacing(4);
      height: theme.spacing(4);
      border: 2px solid theme.color("panel", "border");
      border-radius: theme.border-radius("md");
      display: grid;
      place-content: center;
      flex: none;

      svg {
        width: theme.spacing(3);
        height: theme.spacing(3);
        fill: none;
        stroke: theme.color("primary", "border", "base");
        stroke-width: 3px;
        stroke-dasharray: 22px;
        stroke-dashoffset: 66;
        transition: stroke-dashoffset 200ms;
      }
    }

    &[data-focus-visible] .checkbox {
      outline: 2px solid theme.color("primary", "border", "base");
      outline-offset: theme.spacing(0.5);
    }

    &[data-selected] svg {
      stroke-dashoffset: 44;
    }
  }

  .sessionExpiry {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: theme.spacing(2);

    .label {
      @include theme.text("sm", "medium");
    }

    .button {
      @include theme.button("ghost");

      // stylelint-disable-next-line no-duplicate-selectors
      & {
        border: 1px solid theme.color("primary", "border", "base");
        width: theme.spacing(30);
        padding-left: theme.spacing(2);
        padding-right: theme.spacing(2);
        justify-content: space-between;
      }
    }
  }

  .tokenList {
    display: flex;
    flex-flow: column nowrap;
    gap: theme.spacing(2);
    align-items: center;
    margin: 0;
    padding: 0;
    list-style-type: none;

    .token {
      display: grid;
      grid-template-columns: theme.spacing(40) 1fr theme.spacing(14);
    }
  }

  .footer {
    display: grid;
    grid-template-columns: 1fr max-content;
    gap: theme.spacing(8);
    align-items: center;

    .errorMessage {
      @include theme.text("sm", "normal");

      color: theme.color("error");
      text-align: right;
    }

    .submitButton {
      @include theme.button("primary");
    }
  }
}

.selectPopover {
  @include theme.reset {
    background: theme.color("panel", "background");
    border: 1px solid theme.color("panel", "border");
    border-radius: theme.border-radius("base");
    box-shadow: 0 8px 20px rgb(from black r g b / 10%);
    outline: none;
    color: theme.color("panel", "text");
    padding: theme.spacing(1) 0;
    min-width: var(--trigger-width);
    z-index: theme.layer("select") !important;

    .selectItem {
      @include theme.text("sm", "normal");

      padding: theme.spacing(1) theme.spacing(4);
      cursor: pointer;

      &[data-focused] {
        background: rgb(from black r g b / 10%);
        outline: none;
      }

      &[data-focus-visible] {
        outline: 2px solid theme.color("primary", "border", "base");
      }
    }
  }
}
