@use "./theme";

.sessionLimits {
  display: grid;
  grid-template-rows: max-content 1fr max-content;
  gap: theme.spacing(6);

  .applyLimits {
    @include theme.text("sm", "medium");

    display: flex;
    position: relative;
    align-items: center;
    gap: theme.spacing(2);
    cursor: pointer;

    .checkbox {
      width: theme.spacing(4);
      height: theme.spacing(4);
      border: 2px solid theme.color("panel", "border");
      border-radius: theme.border-radius("md");
      display: grid;
      place-content: center;
      flex: none;

      svg {
        width: theme.spacing(3);
        height: theme.spacing(3);
        fill: none;
        stroke: theme.color("primary", "border", "base");
        stroke-width: 3px;
        stroke-dasharray: 22px;
        stroke-dashoffset: 66;
        transition: stroke-dashoffset 200ms;
      }
    }

    &[data-focus-visible] .checkbox {
      outline: 2px solid theme.color("primary", "border", "base");
      outline-offset: theme.spacing(0.5);
    }

    &[data-selected] svg {
      stroke-dashoffset: 44;
    }
  }

  .tokenList {
    display: flex;
    flex-flow: column nowrap;
    gap: theme.spacing(2);
    align-items: center;
    margin: 0;
    padding: 0;
    list-style-type: none;

    .token {
      display: grid;
      grid-template-columns: theme.spacing(40) 1fr theme.spacing(14);
    }
  }

  .footer {
    display: grid;
    grid-template-columns: 1fr max-content;
    gap: theme.spacing(8);
    align-items: center;

    .errorMessage {
      @include theme.text("sm", "normal");

      color: theme.color("error");
      text-align: right;
    }

    .submitButton {
      @include theme.button("primary");
    }
  }
}
