@use '@fogo/component-library/theme';

.breadcrumbNav {
  padding: 0 0 theme.spacing(2) 0;
  border-bottom: 1px solid theme.color('border');

  @include theme.breakpoint('md') {
    padding: theme.spacing(8) 0;
  }

  .breadcrumbNavContainer {
    @include theme.max-width;
    display: flex;
    align-items: center;
    gap: theme.spacing(4);
    position: relative;

    .breadcrumbNavArrow {
      all: unset;
      @include theme.text('xl', 'normal');
      color: theme.color('foreground');
      position: absolute;
      left: -#{theme.spacing(4)};
      top: 50%;
      transform: translateY(-30%);
      cursor: pointer;
    }

    .breadcrumbNavAction {
      margin-left: auto;
    }
  }
}

.breadcrumbNavItemSkeleton {
  width: theme.spacing(35);
  height: theme.spacing(6);
  display: inline-block;
}

.breadcrumbNavItems {
  @include theme.text('3xl', 'normal');

  &[data-small] {
    @include theme.text('xl', 'normal');
  }
}

.breadcrumbNavItem {
  @include theme.text('3xl', 'normal');
  font-size: 1em;
}

.breadcrumbNavSeparator {
  @include theme.text('3xl', 'normal');
  font-size: 1em;
  color: theme.color('foreground');
  opacity: 0.2;
}
