@use "../theme";

.modalOverlay {
  @include theme.reset {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: var(--visual-viewport-height);
    background: theme.color("modal-overlay");
    backdrop-filter: blur(8px);
    display: grid;
    justify-content: center;
    align-items: start;
    padding-top: theme.spacing(40);
    z-index: theme.layer("modal-dialog");

    .modal {
      outline: none;
      background-color: theme.color("card");
      padding: theme.spacing(6);
      border-radius: theme.border-radius("xl");
      border: 1px solid theme.color("widget-border");
      box-shadow: theme.shadow();
      width: theme.spacing(94);
      max-width: 70dvw;

      .dialog {
        outline: none;
      }
    }
  }
}
