@use "../theme";

.sendTokenPage {
  height: 100%;
  position: relative;

  .sendTokenForm {
    display: flex;
    flex-flow: column nowrap;
    gap: theme.spacing(8);
    padding: theme.spacing(8);
    align-items: center;

    .backButton {
      position: absolute;
      top: theme.spacing(4);
      left: theme.spacing(4);
    }

    .header {
      display: flex;
      flex-flow: column nowrap;
      gap: theme.spacing(4);
      text-align: center;
      align-items: center;

      .tokenIcon {
        width: theme.spacing(12);
        height: theme.spacing(12);
        border-radius: theme.border-radius("full");
      }

      .tokenName {
        @include theme.text("lg", "medium");

        color: theme.color("heading");
        word-break: break-all;
      }

      .amountInWallet {
        @include theme.text("sm");

        color: theme.color("paragraph");
        word-break: break-all;
      }
    }

    .field {
      width: 100%;

      .action {
        white-space: nowrap;
      }
    }

    .fee {
      @include theme.text("xs");

      color: theme.color("muted");
      font-style: italic;
      margin-top: -#{theme.spacing(5)};

      .skeleton {
        display: inline-block;
        background: theme.color("skeleton");
        height: 0.8em;
        margin-left: 0.25em;
        width: theme.spacing(15);
        animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
        border-radius: theme.border-radius("md");

        @keyframes pulse {
          50% {
            opacity: 0.5;
          }
        }
      }
    }
  }

  .qrCodeScanner {
    position: absolute;
    inset: 0;
    background: theme.color("qr-code-scanner-overlay");
    display: grid;
    place-content: center;

    .closeButton {
      position: absolute;
      top: theme.spacing(2);
      right: theme.spacing(2);
      z-index: 1;
    }

    .camera {
      z-index: 0;
      height: 100%;
      position: absolute !important;
      inset: 0;
    }
  }
}
