@use "../theme";

.sessionButton {
  @include theme.reset {
    width: theme.spacing(48);
    height: theme.spacing(10);
    padding: theme.spacing(1);
    display: flex;
    flex-flow: row nowrap;
    gap: theme.spacing(2);
    border: none;
    border-radius: theme.border-radius("lg");
    cursor: pointer;
    background-color: theme.color("button-signin-bg");
    outline: 2px solid transparent;
    outline-offset: theme.spacing(0.5);
    align-items: center;
    transition:
      background-color 50ms linear,
      outline-color 50ms linear;

    .fogoLogoContainer {
      width: theme.spacing(8);
      height: theme.spacing(8);
      background-color: theme.color(
        "button",
        "primary",
        "background",
        "normal"
      );
      display: grid;
      place-content: center;
      border-radius: theme.border-radius();

      .fogoLogo {
        color: theme.pallette-color("white");
        height: theme.spacing(4);
      }
    }

    .contents {
      @include theme.text("sm", "medium");

      color: theme.color("heading");
      text-align: center;
      flex-grow: 1;
    }

    .arrowContainer {
      display: none;
      width: theme.spacing(6);

      .arrow {
        transition: transform 300ms;
        transform-origin: center;
        color: theme.color("heading");
      }
    }

    .lockIcon {
      font-size: theme.font-size();
      color: theme.color("foreground");
    }

    &[data-compact] {
      width: auto;
      padding-right: theme.spacing(3);

      .arrowContainer {
        width: auto;
      }
    }

    &[data-hovered] {
      background-color: theme.color("button-hover");
    }

    &[data-pressed],
    &[data-session-panel-open] {
      background-color: theme.color("button-pressed");
    }

    &[data-is-signed-in] {
      .arrowContainer {
        display: grid;
        place-content: center;

        .arrow {
          font-size: theme.spacing(4);
        }
      }

      &[data-session-panel-open] {
        .arrow {
          transform: rotateX(180deg);
        }
      }
    }

    &[data-focus-visible] {
      outline-color: theme.color("accent");
    }

    &[data-pending] {
      cursor: wait;
      background-color: theme.color("button", "disabled", "background");

      .contents {
        color: theme.color("button", "disabled", "foreground");
      }

      .fogoLogoContainer {
        background: transparent;

        &::after {
          content: "";
          display: block;
          width: theme.spacing(4);
          height: theme.spacing(4);
          border: 1px solid theme.color("button", "disabled", "foreground");
          border-top-color: transparent;
          border-radius: theme.border-radius("full");
          animation: spin 1s linear infinite;
          transition: opacity linear 100ms;
          margin-left: theme.spacing(1);

          @keyframes spin {
            0% {
              transform: rotate(0deg);
            }

            20% {
              transform: rotate(40deg);
            }

            80% {
              transform: rotate(320deg);
            }

            100% {
              transform: rotate(360deg);
            }
          }
        }

        .fogoLogo {
          display: none;
        }
      }
    }
  }
}

.sessionPanelPopover {
  @include theme.reset {
    transition:
      transform 400ms ease-in-out,
      opacity 200ms;
    z-index: theme.layer("session-panel") !important;

    @media (max-width: theme.map-get-strict(theme.$breakpoints, "sm")) {
      position: fixed !important;
      bottom: 0 !important;
      left: 0 !important;
      right: 0 !important;
      top: unset !important;
    }

    @include theme.breakpoint("sm") {
      transition:
        transform 200ms,
        opacity 200ms;
    }

    .sessionPanel {
      width: 100%;
      height: theme.spacing(148);
      max-height: 80dvh;
      border-top-left-radius: theme.border-radius("xl");
      border-top-right-radius: theme.border-radius("xl");
      background: theme.color("card");
      border: 1px solid theme.color("widget-border");
      box-shadow: theme.shadow();
      display: grid;
      grid-template-rows: theme.spacing(12) 1fr theme.spacing(12);
      outline: none;

      @include theme.breakpoint("sm") {
        width: theme.spacing(88);
        border-radius: theme.border-radius("xl");
      }

      .header {
        border-bottom: 1px solid theme.color("border");
        display: flex;
        flex-flow: row nowrap;
        padding: theme.spacing(2);
        padding-left: theme.spacing(4);
        gap: theme.spacing(2);
        align-items: center;

        .title {
          @include theme.text("sm", "medium");

          color: theme.color("heading");
          flex-grow: 1;
        }
      }

      .tabs {
        display: grid;
        grid-template-rows: theme.spacing(10) 1fr;
        overflow: hidden;

        .tabList {
          display: flex;
          flex-flow: row nowrap;
          gap: theme.spacing(1);
          border-bottom: 1px solid theme.color("widget-border");

          .tab {
            @include theme.text("xs", "semibold");

            color: theme.color("muted");
            flex-grow: 1;
            display: grid;
            place-content: center;
            position: relative;
            outline: 2px solid transparent;
            outline-offset: -#{theme.spacing(0.5)};
            transition:
              color 50ms linear,
              background-color 50ms linear,
              outline-color 50ms linear;

            .underline {
              position: absolute;
              bottom: 0;
              left: theme.spacing(3);
              right: theme.spacing(3);
              height: theme.spacing(0.5);
              background: theme.color("accent");
              border-top-left-radius: theme.border-radius("sm");
              border-top-right-radius: theme.border-radius("sm");
            }

            &:not([data-selected]) {
              cursor: pointer;

              &[data-hovered] {
                background: theme.color("button-hover");
                color: theme.color("foreground");
              }

              &[data-pressed] {
                background: theme.color("button-pressed");
                color: theme.color("foreground");
              }
            }

            &[data-focus-visible] {
              outline-color: theme.color("accent");
            }
          }
        }
      }

      .tabPanel {
        overflow: hidden;
      }

      .footer {
        border-top: 1px solid theme.color("border");
        background: theme.color("demo-bg");
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: theme.spacing(2);
        padding-left: theme.spacing(4);
        border-bottom-left-radius: theme.border-radius("xl");
        border-bottom-right-radius: theme.border-radius("xl");

        .fogoWordmark {
          height: theme.spacing(5);
          color: theme.pallette-color("white");
        }
      }
    }

    &[data-entering],
    &[data-exiting] {
      transform: translateY(100%);
    }

    @include theme.breakpoint("sm") {
      &[data-entering],
      &[data-exiting] {
        transform: var(--origin);
        opacity: 0;
      }

      &[data-placement="top"] {
        --origin: translateY(8px);

        margin-bottom: 6px;
      }

      &[data-placement="bottom"] {
        --origin: translateY(-8px);

        margin-top: 6px;
      }

      &[data-placement="right"] {
        --origin: translateX(-8px);

        margin-left: 6px;
      }

      &[data-placement="left"] {
        --origin: translateX(8px);

        margin-right: 6px;
      }
    }
  }
}
