@use "./component-library/theme";

.sessionPanel {
  width: 100%;
  height: 100%;
  background: theme.color("card");
  display: grid;
  grid-template-rows: theme.spacing(12) 1fr theme.spacing(12);
  border: 1px solid theme.color("widget-border");
  border-top-left-radius: theme.border-radius("xl");
  border-top-right-radius: theme.border-radius("xl");

  @include theme.breakpoint("sm") {
    border-radius: theme.border-radius("xl");
  }

  .header {
    border-bottom: 1px solid theme.color("border");
    display: flex;
    flex-flow: row nowrap;
    padding: theme.spacing(2);
    padding-left: theme.spacing(4);
    gap: theme.spacing(2);
    align-items: center;

    .title {
      @include theme.text("sm", "medium");

      color: theme.color("heading");
      flex-grow: 1;

      svg {
        display: inline-block;
        height: 1.4em;
        margin-left: 0.25em;
        margin-right: 0.25em;
        position: relative;
        top: 0.4em;
      }
    }
  }

  .activity {
    padding: theme.spacing(14) theme.spacing(8);
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    gap: theme.spacing(4);

    .activityHeader {
      @include theme.text("xl", "medium");

      color: theme.color("heading");
      margin-bottom: theme.spacing(8);
    }

    .activityMessage {
      @include theme.text("base");

      color: theme.color("paragraph");
    }
  }

  .tabPanel {
    overflow: hidden;
  }
  
  .footer {
    border-top: 1px solid theme.color("border");
    background: theme.color("demo-bg");
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: theme.spacing(2);
    padding-left: theme.spacing(4);
    border-bottom-left-radius: theme.border-radius("xl");
    border-bottom-right-radius: theme.border-radius("xl");

    .fogoWordmark {
      height: theme.spacing(5);
      color: theme.pallette-color("white");
    }
  }
}
