@use "../theme";

.selectWalletAnimationContainer {
  display: flex;
  flex-flow: row nowrap;
  overflow: hidden;
  width: calc(100% + theme.spacing(12));
  margin: -#{theme.spacing(6)};
  align-items: flex-end;
  position: relative;

  & > * {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    padding: theme.spacing(6);
    display: grid;
    gap: theme.spacing(6);

    .heading {
      @include theme.text("lg", "medium");

      color: theme.color("heading");
    }

    .message {
      @include theme.text("sm");

      line-height: 140%;
      color: theme.color("paragraph");
      margin-bottom: theme.spacing(4);
    }

    .closeButton {
      position: absolute;
      top: theme.spacing(4);
      right: theme.spacing(4);
    }

    .noInstalledWallets {
      display: flex;
      flex-flow: column nowrap;
      gap: theme.spacing(3);
      align-items: center;
      padding-top: theme.spacing(6);
      padding-bottom: theme.spacing(6);

      .icon,
      .text {
        color: theme.color("foreground");
        opacity: 0.5;
      }

      .icon {
        font-size: theme.spacing(10);
      }

      .text {
        @include theme.text("sm");

        text-align: center;
        width: theme.spacing(60);
      }

      .hint {
        @include theme.text("xs");
      }
    }

    .wallets {
      display: flex;
      flex-flow: column nowrap;
      gap: theme.spacing(2);

      .wallet {
        height: theme.spacing(10);
        gap: theme.spacing(4);
        justify-content: space-between;
        flex-shrink: 0;

        .walletNameAndIcon {
          display: flex;
          flex-flow: row nowrap;
          gap: theme.spacing(4);
          align-items: center;

          .walletIcon {
            height: theme.spacing(6);
          }
        }
      }
    }

    .moreOptionsContainer {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      width: 100%;

      .moreOptions {
        .arrow {
          transition: transform 300ms;
          transform-origin: center;
        }

        &[data-more-options-open] {
          .arrow {
            transform: rotateX(180deg);
          }
        }
      }

      .wallets {
        width: 100%;
        overflow: hidden;

        // Add negative margin & padding so that focus-visible outlines don't get cut off
        margin: -#{theme.spacing(1)};
        padding: theme.spacing(1);

        .wallet:first-child {
          margin-top: theme.spacing(2);
        }
      }
    }

    .legal {
      @include theme.text("xs", "light");

      text-align: center;
      width: theme.spacing(60);
      color: theme.color("muted");
      margin-left: auto;
      margin-right: auto;
    }

    .buttons {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
    }

    .disclaimer {
      width: 100%;
      height: theme.spacing(80);
      background: rgb(from black r g b / 70%);
      overflow: auto;
      padding: theme.spacing(4);
      border-radius: theme.border-radius("md");
      margin-bottom: theme.spacing(8);
      scrollbar-width: thin;
    }

    .sessionLimits {
      max-width: calc(100% + theme.spacing(4));
      margin: -#{theme.spacing(2)};
      padding: theme.spacing(2);
      overflow: hidden;
    }
  }
}
