@use "@fogo/component-library/theme";

body * {
  color: red;
}

.root,
.body {
  width: 100%;
  height: 100%;
}

.body {
  display: grid;
  grid-template-rows: max-content 1fr;

  .header,
  .footer {
    width: 100%;
    border-width: 0;
    border-style: solid;
    border-color: theme.color("widget-border");
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: theme.spacing(4) theme.spacing(10);
  }

  .header {
    border-bottom-width: 1px;
    height: theme.spacing(16);
    justify-content: space-between;

    .fogoWordmark {
      height: 100%;
    }
  }

  .footer {
    border-top-width: 1px;
    height: theme.spacing(14);

    .link {
      @include theme.text("sm");

      color: theme.color("paragraph");
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
