@use "../../theme";

.root,
.body {
  width: 100%;
  height: 100%;
}

.body {
  display: grid;
  grid-template-rows: max-content 1fr;

  .header {
    width: 100%;
    background-color: theme.color("card");
    border-bottom: 1px solid theme.color("widget-border");
    height: theme.spacing(16);
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    padding: theme.spacing(4) theme.spacing(10);

    .fogoWordmark {
      height: 100%;
    }
  }
}
