@use "modern-normalize";
@use "../../theme";

:root {
  background: theme.color("demo-bg");
  scroll-behavior: smooth;
}

*::selection {
  color: theme.pallette-color("black");
  background: theme.color("accent");
}
