@use "../theme";
@use "../reset";
@use "../layer";

.modalOverlay {
  @include reset.reset {
    position: fixed;
    top: 0;
    left: 0;
    height: 100dvh;
    width: 100dvw;
    background: theme.color("modal-overlay");
    backdrop-filter: blur(8px);
    display: grid;
    justify-content: center;
    align-items: start;
    z-index: layer.layer("modal-dialog");
    overflow: auto;

    .modal {
      margin-top: min(10dvh, theme.spacing(40));
      margin-bottom: min(10dvh, theme.spacing(40));
      outline: none;
      background-color: theme.color("card");
      padding: theme.spacing(6);
      border-radius: theme.border-radius("xl");
      border: 1px solid theme.color("widget-border");
      box-shadow: theme.shadow();
      width: theme.spacing(94);
      max-width: 90dvw;

      .dialog {
        outline: none;
      }
    }
  }
}
