@use "../theme";

.switch {
  display: flex;
  align-items: center;
  gap: theme.spacing(4);
  color: theme.color("paragraph");

  @include theme.text("base", "normal");

  --width: #{theme.spacing(8)};
  --height: #{theme.spacing(5)};

  .track {
    position: relative;
    height: var(--height);
    width: var(--width);
    border-radius: var(--height);
    transition: all 200ms;
    scale: 1;
    background: theme.color("button-base");

    .handle {
      height: calc(var(--width) / 2);
      width: calc(var(--width) / 2);
      margin-top: theme.spacing(0.5);
      margin-left: theme.spacing(0.5);
      aspect-ratio: 1;
      border-radius: calc(var(--width) / 2);
      transition: all 200ms;
      transform-origin: 0 50%;
      will-change: transform;
      background: theme.color("button", "solid", "background", "normal");
    }
  }

  &[data-pressed] .handle {
    scale: 1.2 1;
    border-radius: var(--height) / calc(var(--height) * 1.2);
    background: theme.color("button", "solid", "background", "pressed");
  }

  &[data-selected] {
    .track {
      background: theme.color("accent");

      .handle {
        transform: translateX(calc(var(--width) / 2 - theme.spacing(1)));
        transform-origin: calc(var(--width) - theme.spacing(1)) 50%;
        background: theme.color("card");
      }
    }
  }

  &[data-focus-visible] .track {
    outline: 2px solid theme.color("accent");
    outline-offset: 2px;
  }

  &[data-disabled] {
    color: theme.color("muted");

    .track {
      .handle {
        background: theme.color("button", "disabled", "background");
      }
    }
  }
}
