name: Cargo Clippy

on:
  pull_request:
  push:
    branches: [main]

jobs:
  clippy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: 1.87.0
          components: clippy
      - name: Clippy
        env:
          SQLX_OFFLINE: true
        run: cargo clippy --tests -- -D warnings
