name: Test

on:
  pull_request:

jobs:
  publish:
    name: Publish Packages
    runs-on: ubuntu-latest
    steps:
      - name: Check out codebase
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: nightly
          default: true
          override: true

      - name: Install cargo-release
        uses: taiki-e/install-action@v2
        with:
          tool: cargo-release
