name: Turbo Test

on:
  pull_request:
  push:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      # We need to disable this feature of the latest Ubuntu for puppeteer to work 
      # https://chromium.googlesource.com/chromium/src/+/main/docs/security/apparmor-userns-restrictions.md
      - name: Disable unprivileged userns restrictions
        run: |
          sudo sysctl -w kernel.apparmor_restrict_unprivileged_userns=0
      - name: Install anchor cli
        run: |
          cargo install --git https://github.com/coral-xyz/anchor avm
          avm install 0.31.1
          avm use 0.31.1
      - uses: actions/setup-node@v4
        with:
          node-version-file: "package.json"
      - uses: pnpm/action-setup@v4
        name: Install pnpm
        with:
          run_install: true
      - name: Test
        run: pnpm turbo test
