name: Turbo Build

on:
  pull_request:
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: nightly
      - name: Install anchor cli
        run: |
          cargo install --git https://github.com/coral-xyz/anchor --tag v0.31.1 --locked avm
          avm install 0.31.1
          avm use 0.31.1
      - uses: actions/setup-node@v4
        with:
          node-version-file: "package.json"
      - uses: pnpm/action-setup@v4
        name: Install pnpm
        with:
          run_install: true
      - name: Build
        run: pnpm turbo build
